/* .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin-bottom: 10px;
  }
  
  .payment-options {
    display: flex;
    flex-direction: column;
  }
  
  .payment-option {
    margin-bottom: 10px;
  }
  
  .payment-option label {
    margin-left: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .qr-code-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .qr-code {
    max-width: 300px;
    margin: 0 auto;
  }
   */

   /* payment.css */
.payment-container {
    text-align: center;
    padding: 20px;
  }
  
  .payment-title,
  .payment-show-time,
  .payment-seats,
  .payment-total-seats {
    margin: 10px 0;
  }
  
  .qr-code {
    margin: 20px 0;
  }
  
  .book-ticket-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  