.card-1{
    height: 570px;
    background-color: rgb(255, 254, 253);
    border: 10px solid white;
    width: 100%;
    transition: transform 0.3s ease;
    /* background-color: red; */
}
.card-1:hover{
    transform: translateY(-10px);
}
.image-all{
    height: 350px;
    max-width: 400px;
}
.book-btn{
    height: 50px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}